.about{
    margin:20px;
}

.members-title{
    font-size:75px;
    padding-top:100px;
    padding-bottom:100px;
    font-family: 'Odibee Sans', cursive;
}

.group-member-container{
    height:600px;
    background-color:#D2E459;
    box-shadow: 5px 10px #597C2B;
}

.member-title{
    height:10%;
    padding-top:2.5%;
    font-size:20px;
    background-color:#91B247;
}

.member-title p{
    color:white;
    font-size:30px;
    font-family: 'Odibee Sans', cursive;
}

.group-member-image-container{
    height:50%;
}

.member-img-display{
    margin-top:30px;
    border-radius:1000px;
}

.group-member-desc-container{
    padding:10px;
    text-align:left;
    color:white;
    background-color:#D2E459;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}