#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
    background-color:black;
    width:100%;
    display:inline-block;
}

a{
    color: white !important;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 1;
    font-style: normal;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 17px;
  }
  @media only screen 
  and (min-width : 1600px) {
    a{
    font-size: 20px;
  }
  }
  a.router-link-exact-active{
      color: #D2E459 !important;
  }
  li{
    list-style-type: disc !important;
  }
  ul{
    margin-left: 40px !important;
  }