.small{
    display:flex;
    justify-content: center;
    padding-bottom:200px;
}

.chartjs-render-monitor{
    height:300px !important;
    width:300px !important;
}

.graph-display{
    width:300px !important;
    margin:0 !important;
}