.paralax{
    background-image: url("../images/Home.jpeg");
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}