@import url('http://fonts.googleapis.com/css?family=Open+Sans');
.project-title{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    font-family: 'Odibee Sans', cursive;
    font-size: 10vh;
    color:white;
}

p{
    color:black;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.paralax{
    background-image: url("../images/Home.jpeg");
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.carousel h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
}

.carousel hr{
    background-color: red;
    width: 70%;
    height: 2px;
    border-color: red;
    margin-left: auto;
    margin-right: auto;
}

.carouselText{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}